<a href="https://colab.research.google.com/github/yimstar9/Engineer-Big-Data-Analysis_R/blob/main/2%ED%9A%8C_%EA%B8%B0%EC%B6%9C%EC%9C%A0%ED%98%95_R_2%ED%9A%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [146]:
#https://www.kaggle.com/code/limmyoungjin/tutorial-t1-2-r-2/notebook
#T1 2회 기출유형 R_2회
df<-read.csv('basic1.csv')

########################## Q1 ##########################
# 데이터셋(basic1.csv)의 'f5' 컬럼을 기준으로 상위 10개의 데이터를 구하고,
# 'f5'컬럼 10개 중 최소값으로 데이터를 대체한 후,
# 'age'컬럼에서 80 이상인 데이터의'f5 컬럼 평균값 구하기
library(dplyr)
df %>% arrange(-f5) %>% mutate(pre_f5=ifelse(f5>=f5[10],f5[10],f5)) %>% filter(age>=80)%>%summarise(mean(pre_f5))

 
########################## Q2 ##########################
# 데이터셋(basic1.csv)의 앞에서 순서대로 70% 데이터만 활용해서,
# 'f1'컬럼 결측치를 중앙값으로 채우기 전후의 표준편차를 구하고
# 두 표준편차 차이 계산하기
df%>%head(nrow(df)*0.7)%>%mutate(pre_f1=ifelse(is.na(f1),median(f1,na.rm = T),f1))%>%summarise(abs(sd(pre_f1)-sd(f1,na.rm = T)))


########################## Q3 ##########################
# 데이터셋(basic1.csv)의 'age'컬럼의 이상치를 더하시오!
# 단, 평균으로부터 '표준편차*1.5'를 벗어나는 영역을 이상치라고 판단함
df%>%filter(age<(mean(age)-1.5*sd(age))|age>(mean(age)+1.5*sd(age)))%>%summarise(sum(age))

  mean(pre_f5)
1 62.49775

  abs(sd(pre_f1) - sd(f1, na.rm = T))
1 3.296502

  sum(age)
1 473.5