<a href="https://colab.research.google.com/github/yimstar9/Engineer-Big-Data-Analysis_R/blob/main/2%ED%9A%8C_%EA%B8%B0%EC%B6%9C%EC%9C%A0%ED%98%95_R_2%ED%9A%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [130]:
#https://www.kaggle.com/code/limmyoungjin/tutorial-t1-2-r-2/notebook
#T1 2회 기출유형 R_2회
df<-read.csv('basic1.csv')
# 데이터셋(basic1.csv)의 'f5' 컬럼을 기준으로 상위 10개의 데이터를 구하고,
# 'f5'컬럼 10개 중 최소값으로 데이터를 대체한 후,
# 'age'컬럼에서 80 이상인 데이터의'f5 컬럼 평균값 구하기
library(dplyr)
 df %>% arrange(-f5) %>% mutate(pre_f5=ifelse(f5>=f5[10],f5[10],f5)) %>% filter(age>=80)%>%summarise(mean(pre_f5))

  mean(pre_f5)
1 62.49775