<a href="https://colab.research.google.com/github/yimstar9/Engineer-Big-Data-Analysis_R/blob/main/%5BR%5D_T1_14_2%EA%B0%9C_%EC%A1%B0%EA%B1%B4%EC%97%90_%EB%94%B0%EB%A5%B8_%EC%83%81%EC%9C%84_%EA%B0%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
# city와 f4를 기준으로 f5의 평균값을 구한 다음, f5를 기준으로 상위 7개 값을 모두 더해 출력하시오 (소수점 둘째자리까지 출력)
# - 데이터셋 : basic1.csv 
# - 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작
# - File -> Editor Type -> Script

df<-read.csv('basic1.csv')
library(dplyr)
df%>%group_by(city,f4)%>%summarise(val=mean(f5,na.rm=T))%>%arrange(-val)%>%data.frame%>%head(7)%>%summarise(sum(val))%>%round(2)

`summarise()` has grouped output by 'city'. You can override using the
`.groups` argument.

  sum(val)
1 643.68