<a href="https://colab.research.google.com/github/yimstar9/Engineer-Big-Data-Analysis_R/blob/main/%5BR%5D_%EF%BB%BFDataManim_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C_%EC%9E%91%EC%97%85%EC%9C%A0%ED%98%951.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
#Question1
#마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 인원을 가진 나이대는? (0~9 : 0 , 10~19 : 10)
library(dplyr)
df<-read.csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
df1<-df%>%mutate(pre_age=(age%/%10)*10)%>%count(pre_age)
df1[which.max(df1$n),1]

[1] 30

In [21]:
#Question2
#마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 나이대 구간의 인원은 몇명인가?
library(dplyr)
df<-read.csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
df1<-df%>%mutate(pre_age=(age%/%10)*10)%>%count(pre_age)
max(df1$n)

[1] 5056

In [26]:
#Question3
#나이가 25살 이상 29살 미만인 응답 고객들중 housing컬럼의 값이 yes인 고객의 수는?
library(dplyr)
df<-read.csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
df1<-df%>%filter(age>=25&age<29)%>%filter(housing=='yes')
nrow(df1)

[1] 504

In [115]:
#Question4
#numeric한 값을 가지지 않은 컬럼들중 unique한 값을 가장 많이 가지는 컬럼은?
library(dplyr)
df<-read.csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
df1<-df[!(sapply(df,is.numeric))]
maxn<-df1%>%apply(2,n_distinct)
names(which.max(maxn))

[1] "job"

In [136]:
#Question5
#balance 컬럼값들의 평균값 이상을 가지는 데이터를 ID값을 기준으로 내림차순 정렬했을때 상위 100개 데이터의 balance값의 평균은?
library(dplyr)
df<-read.csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
a<-df%>%filter(balance>=mean(balance,na.rm=T))%>%arrange(-ID)%>%slice(1:100)%>%dplyr::select(balance)
mean(a$balance,na.rm=T)

[1] 3473.73

In [221]:
#Question6
#가장 많은 광고를 집행했던 날짜는 언제인가? (데이터 그대로 일(숫자),달(영문)으로 표기)
library(dplyr)
df<-read.csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
df1<-df%>%group_by(day,month)%>%summarise(n=n())
result<-df1[(which.max(df1$n)),]
cat(result$day,result$month)

`summarise()` has grouped output by 'day'. You can override using the `.groups`
argument.

15 may

In [247]:
#Question7
#데이터의 job이 unknown 상태인 고객들의 age 컬럼 값의 정규성을 검정하고자 한다. 샤피로 검정의 p-value값을 구하여라
library(dplyr)
df<-read.csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
df1<-df%>%filter(job=='unknown')
shapiro.test(df1$age)$p.value

[1] 0.1961224

In [251]:
#Question8
#age와 balance의 상관계수를 구하여라
library(dplyr)
df<-read.csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
cor(df$age,df$balance)

[1] 0.1019873

In [252]:
#Question9
#y 변수와 education 변수는 독립인지 카이제곱검정을 통해 확인하려한다. p-value값을 출력하라
library(dplyr)
df<-read.csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
chisq.test(df$y,df$education)$p.value

[1] 7.901201e-29

In [279]:
#Question10
#각 job에 따라 divorced/married 인원의 비율을 확인 했을 때 그 값이 가장 높은 값은?
library(dplyr)
library(reshape2)
df<-read.csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
ans<-df%>%group_by(job,marital)%>%summarise(n=table(marital))%>%dcast(job~marital)%>%mutate(rat=divorced/married,na.rm=T)
max(ans$rat,na.rm=T)

`summarise()` has grouped output by 'job'. You can override using the `.groups`
argument.
Using n as value column: use value.var to override.

[1] 0.283105