<a href="https://colab.research.google.com/github/yimstar9/Engineer-Big-Data-Analysis_R/blob/main/%5BR%5D_T1_21_%EA%B5%AC%EA%B0%84_%EB%B6%84%ED%95%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
## 나이 구간 나누기
###  basic1 데이터 중 'age'컬럼 이상치를 제거하고, 동일한 개수로 나이 순으로 3그룹으로 나눈 뒤 각 그룹의 중앙값을 더하시오
### (이상치는 음수(0포함), 소수점 값)
# - data: basic1.csv
df<-read.csv('basic1.csv')
library(dplyr)
library(ggplot2)
df%>%filter(age>0&(age*10)%%10==0)%>%mutate(bin=cut_number(age,3))%>%group_by(bin)%>%summarise(v=median(age))%>%summarise(sum(v))

  sum(v)
1 165