<a href="https://colab.research.google.com/github/yimstar9/Engineer-Big-Data-Analysis_R/blob/main/%5BR%5D_T1_2~T1_3%20%EC%9D%B4%EC%83%81%EC%B9%98(%EC%86%8C%EC%88%98%EC%A0%90%EB%82%98%EC%9D%B4)%2C%20%EA%B2%B0%EC%B8%A1%EC%B9%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# 주어진 데이터에서 이상치(소수점 나이)를 찾고 올림, 내림, 버림(절사)했을때 3가지 모두 이상치 'age' 평균을 구한 다음 모두 더하여 출력하시오 
# 데이터 : basic1.csv 
#https://dplyr.tidyverse.org/articles/colwise.html
library(dplyr)
df=read.csv('basic1.csv')
df %>% filter((age*10)%%10!=0) %>% mutate(pre1=ceiling(age),pre2=floor(age),pre3=trunc(age)) %>% summarise(across(c(pre1,pre2,pre3),mean))%>%sum()

[1] 69.5

In [21]:
# 주어진 데이터에서 결측치가 80%이상 되는 컬럼은(변수는) 삭제하고, 80% 미만인 결측치가 있는 컬럼은 'city'별 중앙값으로 값을 대체하고 'f1'컬럼의 평균값을 출력하세요!
# 데이터 : basic1
library(dplyr)
df=read.csv('basic1.csv')
colSums(is.na(df)) # f1에 31개
(nrow(df)-sum(is.na(df$f1)))/nrow(df)*100 #f1 결측치 69%
df %>% group_by(city) %>% mutate(pre_f1=ifelse(is.na(f1),median(f1,na.rm=T),f1))%>%ungroup%>%summarise(mean=mean(pre_f1))

  id  age city   f1   f2   f3   f4   f5
   0    0    0   31    0    0    0    0

[1] 69

  mean
1 65.52