<a href="https://colab.research.google.com/github/yimstar9/Engineer-Big-Data-Analysis_R/blob/main/%5BR%5D_T1_1_%EC%9D%B4%EC%83%81%EC%B9%98%EB%A5%BC_%EC%B0%BE%EC%95%84%EB%9D%BC(IQR%ED%99%9C%EC%9A%A9).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# 데이터에서 IQR을 활용해 Fare컬럼의 이상치를 찾고, 이상치 데이터의 여성 수를 구하시오 
# 데이터 : ../input/titanic/train.csv
library(dplyr)
df=read.csv('train (t1).csv')
df %>% mutate(Q1=quantile(Fare,1/4),Q3=quantile(Fare,1/4),IQR=Q3-Q1) %>% filter((Fare<Q1-1.5*IQR | Q3+1.5*IQR<Fare) & Sex=='female') %>% nrow

[1] 314