<a href="https://colab.research.google.com/github/yimstar9/Engineer-Big-Data-Analysis_R/blob/main/%5BR%5D_T1_19_%EC%8B%9C%EA%B3%84%EC%97%B4_%EB%8D%B0%EC%9D%B4%ED%84%B03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
### 주어진 데이터에서 2022년 월별 Sales 합계 중 가장 큰 금액과 
### 2023년 월별 Sales 합계 중 가장 큰 금액의 차이를 절대값으로 구하시오. 
### 단 Events컬럼이 '1'인경우 80%의 Sales값만 반영함 (소수점 반올림 후 정수 출력)

# - 데이터셋 : basic2.csv
# - 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작
library(dplyr)
library(lubridate)
df<-read.csv('basic2.csv')
df1<-df%>%mutate(year=year(Date), month=month(Date),flag=ifelse(Events==1,round((Sales*0.8),1),Sales))%>%group_by(year,month)%>%summarise(val=sum(flag))%>%data.frame
y2<-df1%>%filter(year %in% 2022)%>%summarise(max(val))
y3<-df1%>%filter(year %in% 2023)%>%summarise(max(val))
abs(y2-y3)

`summarise()` has grouped output by 'year'. You can override using the
`.groups` argument.

  max(val)
1 42473436