<a href="https://colab.research.google.com/github/yimstar9/Engineer-Big-Data-Analysis_R/blob/main/%5BR%5D_T1_24_Time_Series5_%EC%8B%9C%EC%B0%A8_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%83%9D%EC%84%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
### 주어진 데이터(basic2.csv)에서 새로운 컬럼(1일 이전 시차 컬럼)을 만들고, Events가 1이면서 Sales가 1000000이하인 조건에 맞는 새로운 컬럼 합을 구하시오
### 데이터셋 : basic2.csv
### 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작
df<-read.csv('basic2.csv')
library(dplyr)
library(data.table)
df %>% mutate(la=shift(PV,1))%>% filter(Events==1 & Sales<=1000000) %>% summarise(value=sum(la))

  value
1 1894876