<a href="https://colab.research.google.com/github/yimstar9/Engineer-Big-Data-Analysis_R/blob/main/%5BR%5D_T1_23_%EC%A4%91%EB%B3%B5_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%9C%EA%B1%B0_Drop_Duplicates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
### f1의 결측치를 채운 후 age 컬럼의 중복 제거 전과 후의 중앙값의 차이를 구하시오 
### 결측치는 f1의 데이터 중 10번째 큰 값으로 채움
### 중복 데이터 발생시 뒤에 나오는 데이터를 삭제함
### 최종 결과값은 절대값으로 출력
# 데이터셋 : basic1.csv
df<-read.csv('basic1.csv')
library(dplyr)
df%>%mutate(pre_f1=ifelse(is.na(f1),sort(f1,decreasing=T)[10],f1),remove_age=ifelse(duplicated(age),NA,pre_f1))%>%summarise(f1m=median(pre_f1)-median(remove_age,na.rm=T))

  f1m
1 0.5