<a href="https://colab.research.google.com/github/yimstar9/Engineer-Big-Data-Analysis_R/blob/main/%5BR%5D_T1_20_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B3%91%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
## 고객과 잘 맞는 타입 추천 :)
### basic1 데이터 중 'f4'를 기준으로 basic3 데이터 'f4'값을 기준으로 병합하고, 
### 병합한 데이터에서 r2결측치를 제거한다음, 앞에서 부터 20개 데이터를 선택하고 'f2'컬럼 합을 구하시오
# - basic1.csv: 고객 데이터 
# - basic3.csv: 잘 어울리는 관계 데이터 (추천1:r1, 추천2:r2)
df<-read.csv('basic1.csv')
df1<-read.csv('basic3.csv')
library(dplyr)
df%>%inner_join(df1,by='f4')%>%filter(r2!='')%>%head(20)%>%summarise(sum(f2))

  sum(f2)
1 15