<a href="https://colab.research.google.com/github/yimstar9/Engineer-Big-Data-Analysis_R/blob/main/T1_22_Time_Series4_(Weekly_data).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
### 주어진 데이터(basic2.csv)에서 주 단위 Sales의 합계를 구하고, 가장 큰 값을 가진 주와 작은 값을 가진 주의 차이를 구하시오(절대값)
### 데이터셋 : basic2.csv
library(dplyr)
library(lubridate)
df<-read.csv('basic2.csv')
df%>%mutate(w=week(Date))%>%group_by(w)%>%summarise(v=sum(Sales))%>%select(v)%>%summarise(ans=max(v)-min(v))

library(readr)
df%>%mutate(week=cut(Date,breaks='week'))%>% group_by(week) %>% summarise(value=sum(Sales)) %>% summarise(ans=max(value)-min(value))

    Date       Sales    PV     UV   Events w
1   2022-01-01 22711525 397349 4421 1      1
2   2022-01-02    36779   3969 2289 0      1
3   2022-01-03 13943875 373890   NA 1      1
4   2022-01-04  8088593 142054 2157 0      1
5   2022-01-05  2395374 190684   NA 0      1
6   2022-01-06  1709350 177815 5340 1      1
7   2022-01-07  5306457 155749 3789 0      1
8   2022-01-08  1052325  53467 1793 0      2
9   2022-01-09   877848  54805 2110 0      2
10  2022-01-10  9112911  94024 2471 0      2
11  2022-01-11  1308947  14335  179 0      2
12  2022-01-12  4666022  49787  747 0      2
13  2022-01-13  1242565  22729  615 0      2
14  2022-01-14    95788   1219   NA 0      2
15  2022-01-15  1632974  50881 4526 0      3
16  2022-01-16  2695312  50798  806 0      3
17  2022-01-17  2344863  45878 1098 0      3
18  2022-01-18   665685  14700   NA 0      3
19  2022-01-19   588860  34774  420 0      3
20  2022-01-20  1418778  20169 1726 0      3
21  2022-01-21  4923290  61839 1918 0      3
22  2022-01-22 11732856 349679 4196 1      4
23  2022-01-23   206419  11594  483 0      4
24  2022-01-24   167055   6237  153 0      4
25  2022-01-25 24239428 294608   NA 1      4
26  2022-01-26   200734  19280  398 0      4
27  2022-01-27  1458067  54180 1920 0      4
28  2022-01-28   117887   3380   NA 0      4
29  2022-01-29    15322  55490 4043 0      5
30  2022-01-30  2679959 127639 1294 0      5
⋮   ⋮          ⋮        ⋮      ⋮    ⋮      ⋮
701 2023-12-02  3401448  42942  824 0      48
702 2023-12-03   119209  13831  218 0      49
703 2023-12-04  2799451  72289  944 0      49
704 2023-12-05 15319562 250474 6238 1      49
705 2023-12-06  3022983  42222 4002 0      49
706 2023-12-07 18895433 319062 5776 1      49
707 2023-12-08  2359258  81482 1098 0      49
708 2023-12-09     1723    228   34 0      49
709 2023-12-10  3999643 209267 3780 1      50
710 2023-12-11  8953992 104753 4322 0      50
711 2023-12-12  1278793  17710 1369 0      50
712 2023-12-13    33882    997   15 0      50
713 2023-12-14    17381    497 2962 0      50
714 2023-12-15  8720106  94998 3907 0      50
715 2023-12-16   489136  52472 3564 0      50
716 2023-12-17  1270228  19834 1082 0      51
717 2023-12-18    68887    932  147 0      51
718 2023-12-19 17263640 397035 7248 1      51
719 2023-12-20   758859  84593 1583 0      51
720 2023-12-21  1424586  57813 1365 0      51
721 2023-12-22 12386380 296204   NA 1      51
722 2023-12-23   134421   2449  742 0      51
723 2023-12-24  2491262  62425  647 0      52
724 2023-12-25   134281   1886  326 0      52
725 2023-12-26  4933265  51258  520 0      52
726 2023-12-27 33846609 415067 7360 1      52
727 2023-12-28  3659566 208601 2262 1      52
728 2023-12-29  1164008  14309  193 0      52
729 2023-12-30  3977696  60935   NA 0      52
730 2023-12-31  3719764  60963 1507 0      53