<a href="https://colab.research.google.com/github/yimstar9/Engineer-Big-Data-Analysis_R/blob/main/T1_5_%EC%A1%B0%EA%B1%B4%EC%97%90_%EB%A7%9E%EB%8A%94_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%91%9C%EC%A4%80%ED%8E%B8%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
# 주어진 데이터 중 basic1.csv에서 'f4'컬럼 값이 'ENFJ'와 'INFP'인 'f1'의 표준편차 차이를 절대값으로 구하시오
# 데이터셋 : basic1.csv
library(dplyr)
df<-read.csv('basic1.csv')
df %>% filter(f4=='ENFJ' | f4=='INFP') %>% group_by(f4) %>% summarise(value=sd(f1,na.rm=T)) %>% select(value) %>% apply(2,diff) %>% abs
#apply 1이 row단위 2가 col 단위 연산

  id   age city f1 f2 f3  f4   f5
1 id01  2  서울 NA 0      ENFJ 91.29779
2 id02  9  서울 70 1      ENFJ 60.33983
3 id03 27  서울 61 1      ISTJ 17.25299
4 id04 75  서울 NA 2      INFP 52.66708
5 id05 24  서울 85 2      ISFJ 29.26987
6 id06 22  서울 57 0  vip INTP 20.12944

  sd(f1, na.rm = T)
1 5.859622

   value
5.859622