<a href="https://colab.research.google.com/github/yimstar9/Engineer-Big-Data-Analysis_R/blob/main/T1_6_%EA%B2%B0%EC%B8%A1%EC%B9%98_%EC%A0%9C%EA%B1%B0_%EB%B0%8F_%EA%B7%B8%EB%A3%B9_%ED%95%A9%EA%B3%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
# 주어진 데이터 중 basic1.csv에서 'f1'컬럼 결측 데이터를 제거하고, 
# 'city'와 'f2'을 기준으로 묶어 합계를 구하고, 'city가 경기이면서 f2가 0'인 조건에 만족하는 f1 값을 구하시오
# 데이터셋 : basic1.csv
library(dplyr)
df<-read.csv('basic1.csv')
df%>%filter(!is.na(f1))%>%group_by(city,f2)%>%summarise(sum_f1=sum(f1))%>%filter(city=='경기'&f2==0)%>%data.frame%>%select(sum_f1)

`summarise()` has grouped output by 'city'. You can override using the
`.groups` argument.

  sum_f1
1 833